@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.top {
  position: sticky;
  top: 0;
  z-index: 6;
  box-shadow: 2px 2px 2.5px 4px #14274d;
}

.headerText {
  font-size: 1rem;
  padding-left: 2rem;
}

.headerTitle {
  font-size: 2.5rem;
}

header {
  background-color: #dad8d5;
  width: 100%;
  padding: 1rem;
}

.headText {
  font-size: 1rem;
  padding: 0.3rem 0rem;
  text-align: justify; /* 讓文字左右對齊 */
}

.headTitle {
  font-size: 2rem;
}

body {
  background-color: #e7dccb;
  text-align: justify;
}

i {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header#dt {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7dccb;
}
header#dt h1 {
  color: rgb(89, 48, 48);
  font-size: 3rem;
}

.active {
  background-color: #bba690;
}

section.top nav {
  background-color: #14274d;
}
section.top nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem; /* 將導覽列往右移動 */
  padding-right: 1.5rem;
  list-style-type: none; /* 標題前面黑點去除 */
  margin-bottom: 0rem;
}
section.top nav ul div {
  display: flex;
}
section.top nav ul li {
  display: flex;
}
section.top nav ul li a {
  padding: 0.5rem 0.75rem;
  color: aliceblue;
  text-decoration: none; /* 將底線刪除 */
  font-size: 1.25rem;
  transition: all 0.25s ease;
}
section.top nav ul li a:hover {
  color: rgb(216, 222, 228);
  background-color: rgba(72, 89, 110, 0.7764705882);
}
section.top nav .active {
  background-color: rgba(114, 137, 168, 0.5882352941);
  color: rgb(216, 222, 228);
}

div.discuss {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.discuss nav {
  justify-content: center;
  align-items: center;
  width: 75%;
  background-color: #dac8b5;
  margin-top: 1.5rem;
}
div.discuss nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none; /* 標題前面黑點去除 */
  margin-bottom: 0rem;
}
div.discuss nav ul div {
  display: flex;
}
div.discuss nav ul li {
  display: flex;
}
div.discuss nav ul li a {
  padding: 0.5rem 0.75rem;
  color: rgb(90, 85, 85);
  text-decoration: none; /* 將底線刪除 */
  font-size: 1.25rem;
  transition: all 0.25s ease;
}
div.discuss nav ul li a:hover {
  color: aliceblue;
}
div.discuss section#discussBox,
div.discuss section#discussBox_agriculture,
div.discuss section#discussBox_industry,
div.discuss section#discussBox_economy {
  width: 75%;
  background-color: #e4d4c3;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
div.discuss section#discussBox section.article,
div.discuss section#discussBox_agriculture section.article,
div.discuss section#discussBox_industry section.article,
div.discuss section#discussBox_economy section.article {
  background-color: #fafafa;
  border: 1px rgb(163, 162, 162) solid;
  width: 96%;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
div.discuss section#discussBox section.article section.author_information,
div.discuss section#discussBox_agriculture section.article section.author_information,
div.discuss section#discussBox_industry section.article section.author_information,
div.discuss section#discussBox_economy section.article section.author_information {
  display: flex;
}
div.discuss section#discussBox section.article section.author_information p,
div.discuss section#discussBox_agriculture section.article section.author_information p,
div.discuss section#discussBox_industry section.article section.author_information p,
div.discuss section#discussBox_economy section.article section.author_information p {
  margin: 2rem 1rem 1rem 1rem;
}
div.discuss section#discussBox section.article section.author_information i,
div.discuss section#discussBox_agriculture section.article section.author_information i,
div.discuss section#discussBox_industry section.article section.author_information i,
div.discuss section#discussBox_economy section.article section.author_information i {
  margin: 2.2rem 0.2rem 1rem 0rem;
  width: 5%;
  height: 5%;
}
div.discuss section#discussBox section.article section.author_information p.post-author,
div.discuss section#discussBox_agriculture section.article section.author_information p.post-author,
div.discuss section#discussBox_industry section.article section.author_information p.post-author,
div.discuss section#discussBox_economy section.article section.author_information p.post-author {
  margin: 2rem 1rem 1rem 0rem;
}
div.discuss section#discussBox section.article section.author_information .post-class,
div.discuss section#discussBox_agriculture section.article section.author_information .post-class,
div.discuss section#discussBox_industry section.article section.author_information .post-class,
div.discuss section#discussBox_economy section.article section.author_information .post-class {
  color: rgb(125, 121, 121);
  margin: 2rem 1rem 1rem 1rem;
}
div.discuss section#discussBox section.article section.article_information,
div.discuss section#discussBox_agriculture section.article section.article_information,
div.discuss section#discussBox_industry section.article section.article_information,
div.discuss section#discussBox_economy section.article section.article_information {
  display: flex;
  justify-content: space-between;
}
div.discuss section#discussBox section.article p.post-content p,
div.discuss section#discussBox_agriculture section.article p.post-content p,
div.discuss section#discussBox_industry section.article p.post-content p,
div.discuss section#discussBox_economy section.article p.post-content p {
  display: inline;
}
div.discuss section#discussBox section.article p.post-content a,
div.discuss section#discussBox_agriculture section.article p.post-content a,
div.discuss section#discussBox_industry section.article p.post-content a,
div.discuss section#discussBox_economy section.article p.post-content a {
  color: rgb(141, 128, 128);
  text-decoration: none; /* 將底線刪除 */
}
div.discuss section#discussBox section.article p.post-content a:hover,
div.discuss section#discussBox_agriculture section.article p.post-content a:hover,
div.discuss section#discussBox_industry section.article p.post-content a:hover,
div.discuss section#discussBox_economy section.article p.post-content a:hover {
  color: rgb(184, 174, 174);
}
div.discuss section#discussBox section.article p.post-content .content_a::after,
div.discuss section#discussBox_agriculture section.article p.post-content .content_a::after,
div.discuss section#discussBox_industry section.article p.post-content .content_a::after,
div.discuss section#discussBox_economy section.article p.post-content .content_a::after {
  content: "...展開全文";
}
div.discuss section#discussBox section.article p.post-content .hide,
div.discuss section#discussBox_agriculture section.article p.post-content .hide,
div.discuss section#discussBox_industry section.article p.post-content .hide,
div.discuss section#discussBox_economy section.article p.post-content .hide {
  display: none;
}
div.discuss section#discussBox section.article p.post-content .hide-a::after,
div.discuss section#discussBox_agriculture section.article p.post-content .hide-a::after,
div.discuss section#discussBox_industry section.article p.post-content .hide-a::after,
div.discuss section#discussBox_economy section.article p.post-content .hide-a::after {
  content: "隱藏部分文章";
}
div.discuss section#discussBox section.article button,
div.discuss section#discussBox_agriculture section.article button,
div.discuss section#discussBox_industry section.article button,
div.discuss section#discussBox_economy section.article button {
  float: right;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  color: #292828;
}
div.discuss section#discussBox section.article button.trash,
div.discuss section#discussBox_agriculture section.article button.trash,
div.discuss section#discussBox_industry section.article button.trash,
div.discuss section#discussBox_economy section.article button.trash {
  background-color: #fafafa;
}

div.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.post section.postTitle {
  width: 75%;
  background-color: #f3efef;
}
div.post section.postTitle h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(86, 59, 59);
  font-size: 2rem;
  padding: 1rem 0rem 1rem 0rem;
}
div.post section.newPost {
  width: 75%;
  background-color: #fffeff;
  justify-content: center;
  align-items: center;
}
div.post section.newPost form {
  flex-direction: column;
}
div.post section.newPost form select {
  color: #8d8d8d;
  caret-color: #8d8d8d;
  background-color: #fffeff;
  outline: none;
}
div.post section.newPost form input,
div.post section.newPost form textarea {
  color: #1a1919;
  caret-color: #8d8d8d;
  background-color: #fffeff;
  outline: none;
}
div.post section.newPost form input,
div.post section.newPost form select {
  width: 50%;
  border-color: #ececec;
  border-width: 1.5px;
  border-style: solid;
  margin: 1rem 0rem 0rem 1.5rem;
}
div.post section.newPost form textarea {
  text-align: justify;
  font-size: 1rem;
  margin-right: 2.5rem;
  border: none;
  margin-left: 1.8rem;
}
div.post section.newPost form input::-webkit-input-placeholder {
  color: #a8a7a7; /* 更改placeholder的字體顏色  */
  font-size: 1.75rem; /* 更改placeholder的字體大小  */
}
div.post section.newPost form textarea::-webkit-input-placeholder {
  color: #a8a7a7; /* 更改placeholder的字體顏色  */
  font-size: 1.75rem; /* 更改placeholder的字體大小  */
}
div.post section.newPost form div {
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
}
form input,
form button {
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  margin: 0.1rem;
}
form input[type=number] {
  width: 50px;
  text-align: center;
}
form input::-moz-placeholder {
  color: #8d8d8d;
  opacity: 1;
}
form input::placeholder {
  color: #8d8d8d;
  opacity: 1;
}
form textarea::-moz-placeholder {
  color: #8d8d8d;
  opacity: 1; /* Firefox */
}
form textarea::placeholder {
  color: #8d8d8d;
  opacity: 1; /* Firefox */
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form div.bnt {
  display: flex;
  justify-content: right;
}
form div.bnt button.add {
  width: 17%;
  margin-right: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: #ede4d8;
  color: #878583;
}
form div.bnt button.add:hover {
  color: rgb(106, 76, 76);
  background-color: #d8c8b3;
}
form div.bnt button.cancle {
  width: 17%;
  margin-right: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #9e9994;
}
form div.bnt button.cancle:hover {
  color: rgb(106, 76, 76);
  background-color: #e6e4e4;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
footer {
  background-color: #dad8d5;
  font-size: 14px;
  font-weight: 200px;
  line-height: 1em;
  padding: 20px;
}
footer a {
  color: #46403e;
  text-decoration: none;
}
footer a:hover {
  color: rgba(70, 64, 62, 0.6549019608);
}
footer section.links a {
  margin: 0rem 0.8rem;
}
footer section.links a img {
  width: 2.2vw;
  height: 2.2vw;
}

/* 回到本頁開頭 */
.pagetop {
  text-align: right;
  margin: 1em;
}

@media screen and (max-width: 550px) {
  footer section.links a img {
    width: 5vw;
    height: 5vw;
  }
}
@media screen and (max-width: 866px) {
  nav ul div {
    flex-direction: column;
  }
  section.video {
    flex-direction: column;
  }
  section.right {
    width: 100%;
  }
  section.time {
    flex-direction: column;
  }
  section.agriculture_box {
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e7dccb;
  }
  section.agriculture_box ol {
    padding: 1.2rem;
  }
  section.agriculture_box ol li {
    padding: 0.5rem;
  }
  section.agriculture_box section.article {
    background-color: #d1c9bd;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  section.agriculture_box section.article img {
    width: 100%;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}/*# sourceMappingURL=discuss_style.css.map */